@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* Colours
dark blue #222831 (34,40,49)
gray #393E46 (57,62,70)
light blue #00ADB5 (0,173,181)
white #EEEEEE (238,238,238) */

:root {
  --foreground-rgb: 238,238,238;
  --background-rgb: 34,40,49;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 10px 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a:hover {
  filter: invert(11%) sepia(31%) saturate(4875%) hue-rotate(140deg) brightness(70%) contrast(90%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60.5rem); /* 5.5rem (size of each icon) x 11 (number of icons) */
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

h2 {
  font-weight: 900;
  font-size: 1.5rem;
}